<form [formGroup]="addressForm" novalidate (ngSubmit)="onSubmit()">
  <mat-card class="shipping-card">
    <mat-card-header>
      <span class="spacer"></span>
      <button mat-raised-button color="accent" routerLink="..">
        <mat-icon>arrow_back</mat-icon>
      </button>
      <mat-card-title>Información del Empleado</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Nombre del empleado" formControlName="nombre_completo">
            <mat-error *ngIf="addressForm.controls['nombre_completo'].hasError('required')">
              El nombre del empleado es <strong>requerido</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Correo" formControlName="email">
            <mat-error *ngIf="addressForm.controls['email'].hasError('required')">
              El correo es <strong>requerido</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Teléfono" formControlName="telefono">
            <mat-error *ngIf="addressForm.controls['telefono'].hasError('required')">
              El teléfono es <strong>requerido</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>      
      <div class="row">
        <div class="col">
          <mat-radio-group formControlName="rol">
            <mat-radio-button value="tecnico">Técnico</mat-radio-button>
            <mat-radio-button value="jefe">Jefe</mat-radio-button>
            <mat-radio-button value="administrado">Administrador</mat-radio-button>
          </mat-radio-group>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="warn" type="reset">Reset</button>
      <button mat-raised-button color="primary" type="submit" [disabled]="addressForm.invalid">Enviar</button>
    </mat-card-actions>
  </mat-card>
</form>
