<form [formGroup]="addressForm" novalidate (change)="onChange();" (ngSubmit)="onSubmit()">
  <mat-card class="shipping-card">
    <mat-card-header>
      <mat-card-title>Información del Equipo</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Tipo" formControlName="tipo">
            <mat-error *ngIf="addressForm.controls['tipo'].hasError('required')">
              El tipo del equipo es <strong>requerido</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Marca" formControlName="marca">
            <mat-error *ngIf="addressForm.controls['marca'].hasError('required')">
              La marca de equipo es <strong>requerido</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="col">
        <mat-form-field class="full-width">
          <input matInput placeholder="Serial" formControlName="serial">
          <mat-error *ngIf="addressForm.controls['serial'].hasError('required')">
            El serial del equipo es <strong>requerido</strong>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col">
        <mat-form-field class="full-width">
          <input matInput placeholder="Modelo" formControlName="modelo">
          <mat-error *ngIf="addressForm.controls['modelo'].hasError('required')">
            El modelo del equipo es <strong>requerido</strong>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <textarea matInput placeholder="Observaciones" formControlName="observaciones"></textarea>
            <mat-error *ngIf="addressForm.controls['observaciones'].hasError('required')">
              La observaciones son <strong>observaciones</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>      
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" type="submit" [disabled]="botonDeshabilitado" >Enviar</button>
    </mat-card-actions>
  </mat-card>
</form>
