<mat-card>
  <mat-card-header>
    <mat-card-title>
      <h1>Empleados</h1>
    </mat-card-title>
    <button mat-mini-fab routerLink="./formulario"><mat-icon>add</mat-icon></button>
  </mat-card-header>
  <mat-card-content>

    <div class="mat-elevation-z8">
      <table mat-table class="full-width-table" matSort aria-label="Elements">
        <!-- Id Column -->
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Id</th>
          <td mat-cell *matCellDef="let row">{{row.id}}</td>
        </ng-container>
    
        <!-- Nombre Column -->
        <ng-container matColumnDef="nombre_completo">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Nombre</th>
          <td mat-cell *matCellDef="let row">{{row.nombre_completo}}</td>
        </ng-container>

        <!-- Correo Column -->
        <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Correo</th>
          <td mat-cell *matCellDef="let row">{{row.email}}</td>
        </ng-container>

        <!-- Teléfono Column -->
        <ng-container matColumnDef="telefono">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Teléfono</th>
          <td mat-cell *matCellDef="let row">{{row.telefono}}</td>
        </ng-container>

        <!-- Rol Column -->
        <ng-container matColumnDef="rol">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Rol</th>
          <td mat-cell *matCellDef="let row">{{row.rol}}</td>
        </ng-container>

        <ng-container matColumnDef="acciones">
          <th mat-header-cell *matHeaderCellDef>Acciones</th>
          <td mat-cell *matCellDef="let row">
            <button mat-mini-fab (click)="deleteEmpleado(row.id)"><mat-icon>delete</mat-icon></button>
            <button mat-mini-fab (click)="searchEmpleado(row.id)"><mat-icon>mode_edit</mat-icon></button>
          </td>
        </ng-container>
    
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    
      <mat-paginator #paginator
          [length]="dataSource?.data?.length"
          [pageIndex]="0"
          [pageSize]="5"
          [pageSizeOptions]="[5, 10, 20]"
          aria-label="Select page">
      </mat-paginator>
    </div>
  </mat-card-content>
</mat-card>
