<form [formGroup]="addressForm" novalidate (ngSubmit)="onSubmit()">
  <mat-card class="shipping-card">
    <mat-card-header>
      <mat-card-title>Información del mantenimiento</mat-card-title>
      <button mat-raised-button color="accent" routerLink="..">
        <mat-icon>arrow_back</mat-icon>
      </button>
    </mat-card-header>
    <mat-card-content>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Costo" formControlName="costo" type="number">
            <mat-error *ngIf="addressForm.controls['costo'].hasError('required')">
              El costo es <strong>requerido</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <mat-label>Fecha de Entrada</mat-label>
            <input matInput formControlName="fecha_entrada" type="date">  
            <mat-error *ngIf="addressForm.controls['fecha_entrada'].hasError('required')">
              La fecha de ingreso es <strong>requerida</strong>
            </mat-error>
          </mat-form-field>
        </div>     
        <div class="col">
          <mat-form-field class="full-width">
            <mat-label>Fecha de Salida</mat-label>
            <input matInput formControlName="fecha_salida" type="date"/>            
            <mat-error *ngIf="addressForm.controls['fecha_salida'].hasError('required')">
              La fecha de salida es <strong>requerida</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      
      <div class="row">        
        <div class="col">
          <mat-form-field class="full-width">
            
            <mat-select placeholder="Equipo" formControlName="equipo">
              <ng-container  *ngFor="let equipo of equipos">
                <mat-option [value]="equipo.id">
                  {{ equipo.numero_serial }}
                </mat-option>
              </ng-container>
            </mat-select>

            <mat-error *ngIf="addressForm.controls['equipo'].hasError('required')">
              El equipo es <strong>requerido</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <mat-select placeholder="Empleado" formControlName="empleado">
              <ng-container  *ngFor="let empleado of empleados">
                <mat-option [value]="empleado.id">
                  {{ empleado.nombre_completo }}
                </mat-option>
              </ng-container>
            </mat-select>
            <mat-error *ngIf="addressForm.controls['empleado'].hasError('required')">
              El técnico es <strong>requerido</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <textarea matInput placeholder="Observaciones" formControlName="observaciones"></textarea>
            <mat-error *ngIf="addressForm.controls['observaciones'].hasError('required')">
              Las observaciones son <strong>requeridas</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="warn" type="reset">Reset</button>
      <button mat-raised-button color="primary" type="submit" [disabled]="addressForm.invalid">Enviar</button>
    </mat-card-actions>
  </mat-card>
</form>
